@import './theme';
@import './card';
@import './form';
@import './table';

.main {
  min-height: 700px;
  display: grid;
  place-items: center;
}

@media (max-width: rem(800)) {
  form {
    button {
      width: 100%;
    }
  }

  .card {
    margin: rem(50) 0;
    width: rem(500);

    &__foot {
      flex-flow: column;
      &__left {
        width: 80%;
        padding: 10%;
        border-radius: 0;
      }

      &__right {
        width: 80%;
        padding: 10%;
        border-bottom-left-radius: $borderRadius;
      }
    }
  }
}

@media (max-width: rem(550)) {
  .card {
    width: 90%;
  }
}
